# TITLE: LISTS

# List Constants

In [1]:
print([1,24,76])
print(['RED','YELLOW','BLUE']) 
print(['RED', 24, 98.6])
print([ 1, [5, 6], 7]) 
print([])

[1, 24, 76]
['RED', 'YELLOW', 'BLUE']
['RED', 24, 98.6]
[1, [5, 6], 7]
[]

# List and Definite Loops

In [2]:
friends = ['Joseph','Glen','Sally']
for friend in friends:
    print(friend)
print('Done!')

Joseph
Glen
Sally
Done!

In [3]:
friends = ['Joseph','Glen','Sally']
for friend in friends:
    print('Happy new year my friend',friend)
print('Done!')

Happy new year my friend Joseph
Happy new year my friend Glen
Happy new year my friend Sally
Done!

# Accessing Single Element Using Index

In [4]:
friends = ['Joseph','Glen','Sally']
print(friends[0])

Joseph

# Lists are mutable

In [5]:
fruit = 'Banana'
x = fruit.lower()
print(x)
lotto = [2, 14, 26, 41, 63]
print(lotto)
#Replace index 2 element 26 with 2
lotto[2] = 2
print(lotto)

banana
[2, 14, 26, 41, 63]
[2, 14, 2, 41, 63]

# len and range

In [6]:
greet = 'Hello Bob'
print(len(greet))
x = [ 1, 2, 'joe', 99]
print(len(x))

9
4

In [1]:
my_range = range(4)
for num in my_range:
    print(num)

0
1
2
3

In [18]:
range = "Friends"
for a in range:
    print(a)

F
r
i
e
n
d
s

In [7]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [2]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)
for i in friends:
     i = friends
print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Sally

# Concatenating List

In [3]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

# Slicing

In [4]:
t = [1,12,65,77,84,45]
print(t[0:4])
# starts from 3 index
print(t[3:])
# starts from 0 index
print(t[:3])
print(t[:])

[1, 12, 65, 77]
[77, 84, 45]
[1, 12, 65]
[1, 12, 65, 77, 84, 45]

# Methods

In [5]:
x = list()
print(type(x))
print(dir(x))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# List from Scratch

In [14]:
stuff = list()
stuff.append('book')
stuff.append(99)
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

# Something in a list

In [5]:
list= [10,12,87,99,45]
print(12 in list)
print(1 in list)
print(99 in list)

True
False
True

# List in Order

In [16]:
friends = ['Joseph','Glenn','Sally']
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

# Built-in-Functions-and-lists

In [17]:
nums = [3, 41, 12, 9, 74, 15]
print(sum(nums))
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums)/len(nums))

154
6
74
3
25.666666666666668

In [18]:
total = 0
count = 0
while True:
    inp = input("Enter a number:")
    if inp == 'done': break
    a = float(inp)
    total = total + a
    count = count + 1
average = total/count
print('Average:',average)

Enter a number:3
Enter a number:5
Enter a number:7
Enter a number:done
Average: 5.0

In [19]:
sum = 0
len = 0
while True:
    inp = input("Enter a number:")
    if inp == 'done': break
    value = float(inp)
    sum = sum + value
    len = len + 1
average = sum/len
print('Average:',average)

Enter a number:3
Enter a number:7
Enter a number:8
Enter a number:8
Enter a number:8
Enter a number:done
Average: 6.8

# Strings and Lists

In [6]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
print(len(stuff))
print(r)
print(stuff[0])

['With', 'three', 'words']
3
range(0, 3)
With

In [7]:
stuff = ['With', 'three', 'words']
print(stuff)
for w in stuff:
    print(w)

['With', 'three', 'words']
With
three
words

In [9]:
line = 'A lot of           spaces'
etc = line.split()
print(etc)
line = 'first;second;third'
thing = line.split()
print(thing)
print(len(thing))
thing= line.split(';')
print(thing)
print(len(thing))

['A', 'lot', 'of', 'spaces']
['first;second;third']
1
['first', 'second', 'third']
3

In [6]:
line = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
#Split on the basis of spaces
words = line.split()
print(words)

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [9]:
fhand = open('filesfolder.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From'): continue
    words = line.split()
    print(words[1])

stephen.marquard@uct.ac.za
stephen.marquard@uct.ac.za\n
louis@media.berkeley.edu\n
zqian@umich.edu\n
rjlowe@iupui.edu\n

# Double Split Pattern

In [10]:
line ='From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
words = line.split()
email = words[1]
print(email)

stephen.marquard@uct.ac.za

In [11]:
line ='From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
words = line.split()
email = words[1]
pieces = email.split('@')
print(pieces)
print(pieces[1])

['stephen.marquard', 'uct.ac.za']
uct.ac.za